@use './../../../../public/styles/forms-pages.scss'; 

body {
  background-color: rgb(211, 125, 211);
  width: 1500px;
}

.boton-1 {
  color: chocolate;
}

.boton-2 {
  color: chocolate;
}

.error {
  color: var(--color-error);
}
