@use './../../../../public/styles/forms-pages.scss'; 

body {
  background-color: rgb(255, 198, 255);
  width: 1500px;
}

.boton-1 {
  color: rgb(248, 135, 135);
}

.boton-2 {
  color: rgb(255, 131, 131);
}

.error {
  color: var(--color-error);
}
