
:root {
  --primary-color: #d5aaba;
  --light-text: #ffffff;
  --accent-color: #f9c5d8; 
}

/* 1.Barra */
.app-navbar {
    background-color: var(--primary-color);
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    /* Distribuye el espacio: Contactos/Grupos a la izquierda, Logout a la derecha. preguntar al profe si esta bien? */
    justify-content: flex-start; 
    align-items: center;
    gap: 20px; /* Espacio entre los elementos */
}

/* 2. Estilos Contactos y Grupos) */
.nav-link {
    color: beige;
    text-decoration: none;
    font-size: 1.1em;
    padding: 8px 12px;
    border-radius: 4px;
}


.nav-link:hover {
    background-color: beige;
}


.nav-link.active {
    font-weight: bold;
    background-color: var(--accent-color);
}

/* Mueve el botón de logout al final de la barra, forzando la separación */
.logout-btn {
    margin-left: auto;
    background-color: transparent;
    color: var(--light-text);
    border: 1px solid var(--light-text);
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

/* Efecto al pasar el mouse (hover) del botón */
.logout-btn:hover {
    background-color: rgb(204, 205, 205);
    color: var(--primary-color); 
}