<div class="header-container">
    <nav class="app-navbar">
        <ul class="nav-list">
        <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contactos</a>
        </li>
        <li class="nav-item">
        <a routerLink="/groups" routerLinkActive="active">Grupos</a>
        </li>
        </ul>
        <button class="logout-btn" (click)= "openLogoutModal()">Log Out</button>

    </nav>
</div>
<router-outlet></router-outlet>

